{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}MyVB Web{% endblock %}</title>
  <link rel="stylesheet" href="{% static "css/main.css" %}">
</head>
<body>
  <header class="bg-primary text-on-primary">
    <nav>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        {% comment %} <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li> {% endcomment %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <p>&copy; 2023 MyVB Web</p>
  </footer>
</body>
</html>
