{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}MyVB Web{% endblock %}</title>
  <link rel="stylesheet" href="{% static "css/main.css" %}">
</head>
<body class="bg-surface">
  <header class="bg-primary text-white">
    <div class="flex p-4 justify-between items-center">
      <div>
        <a href="{% url 'home' %}" class="text-2xl font-bold"><span>My</span><span>VB</span></a>
      </div>
      <div>
        <nav>
          {% if user.is_authenticated %}
          <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            {% comment %} <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li> {% endcomment %}
          </ul>
          {% else %}
          <div class="flex gap-4">
            <a href="{% url 'accounts:login' %}">Login</a>
            <a href="{% url 'accounts:register' %}">Register</a>
          </div>
          {% endif %}
        </nav>
      </div>
    </div>
  </header>
  <main class="p-4">
    {% block content %}{% endblock %}
  </main>
  <footer>
    <p>&copy; 2023 MyVB Web</p>
  </footer>
</body>
</html>
